# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sdf
*.obj

core
*.lib
Makefile*
*.pdb

*.depend
*.layout
*.save
*.user*

/build/
/build*/
/old/
*/.idea/*